@*@model PlanFood.Mvc.Models.ViewModel.RecipeViewModel
An unhandled exception occurred while processing the request.
InvalidOperationException: The model item passed into the ViewDataDictionary is of type 'PlanFood.Mvc.Models.Db.Recipe', 
but this ViewDataDictionary instance requires a model item of type 'PlanFood.Mvc.Models.ViewModel.RecipeViewModel'.*@
@model PlanFood.Mvc.Models.Db.Recipe 


@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_LayoutLogInHeader")

<section class="dashboard-section">
    <div class="row dashboard-nowrap">

        @Html.Partial("_LayoutFlexColumnMenu")

        <div class="m-4 p-3 width-medium text-color-darker">
            <div class="dashboard-content border-dashed p-3 m-4 view-height">
                <div class="mt-4 ml-4 mr-4">
                    <form asp-controller="Recipe" asp-action="Edit" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />

                        <div class="row border-bottom border-3">
                            <div class="col">
                                <h3 class="color-header text-uppercase">Edycja przepisu</h3>
                            </div>
                            <div class="col d-flex justify-content-end mb-2">
                                <button type="submit" class="btn btn-color rounded-0 pt-0 pb-0 pr-4 pl-4">Zapisz</button>
                            </div>
                        </div>

                        <table class="table borderless">
                            <tbody>
                                <tr class="d-flex">
                                    <th scope="row" class="col-2">Nazwa Przepisu</th>
                                    <td class="col-7">
                                        <input asp-for="Name" class="w-100 p-1" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </td>
                                </tr>
                                <tr class="d-flex">
                                    <th scope="row" class="col-2">Opis przepisu</th>
                                    <td class="col-7">
                                        <textarea asp-for="Description" class="w-100 p-1" rows="5">
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </textarea>
                                    </td>
                                </tr>
                                <tr class="d-flex">
                                    <th scope="row" class="col-2">Przygotowanie (minuty)</th>
                                    <td class="col-3">
                                        <input asp-for="PreparationTime" class="p-1" type="number" />
                                        <span asp-validation-for="PreparationTime" class="text-danger"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="row d-flex">
                            <div class="col-5 border-bottom border-3">
                                <h3 class="text-uppercase">Sposób przygotowania</h3>
                            </div>
                            <div class="col-2"></div>
                            <div class="col-5 border-bottom border-3">
                                <h3 class="text-uppercase">Składniki</h3>
                            </div>
                        </div>
                        <div class="row d-flex">
                            <div class="col-5 p-4">
                                <textarea asp-for="Preparation" class="w-100 p-1" rows="10">
                                <span asp-validation-for="Preparation" class="text-danger"></span>
                                </textarea>
                            </div>
                            <div class="col-2"></div>

                            <div class="col-5 p-4">
                                <textarea asp-for="Ingredients" class="w-100 p-1" rows="10">
                                <span asp-validation-for="Ingredients" class="text-danger"></span>
                                </textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>