@model PlanFood.Mvc.Models.Db.Plan

@{
    ViewData["Title"] = "Remove";
}

@Html.Partial("_LayoutLogInHeader")

<section class="dashboard-section">
    <div class="row dashboard-nowrap">

        @Html.Partial("_LayoutFlexColumnMenu")

        <div class="m-4 p-3 width-medium">
            <div class="dashboard-content border-dashed p-3 m-4 view-height">
                <form asp-controller="Plan" asp-action="ConfirmRemove" asp-route-id="@Model.Id" method="post" class="padding-small text-center">
                    <h1 class="text-color-darker">Czy napewno chcesz usunac Plan: @Model.Name?</h1>
                    <button class="btn btn-color rounded-0" type="submit">Ok</button>
                    <button asp-controller="Plan" asp-action="List" formmethod="get" class="btn btn-color rounded-0">Anuluj</button>
                </form>
            </div>
        </div>
    </div>
</section>
